extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(action="/users", method="post")
    input(type="mail",name="mail")
    input(type="password",name="secret")
    input(type="submit",value="Show me!")
